<!-- Main Hero Section -->
<section class="hero-section">
    <h1 class="hero-section-header">WITX</h1>
</section>

<!-- About Section -->
<section id="about">
    <h2>About WITX</h2>
    <p>WITX (Wilmington Information Technology eXchange) is now in its seventeenth year. 
        It brings together students, faculty, staff and local information technology professionals 
        to share their experiences and demonstrate their leading technology endeavors. In addition, 
        leading IT professionals will share their ideas through keynotes, learning eXchanges and 5 
        minute Ignite! presentations.</p>
    <a href="#registration" class="button">Register Now</a>
</section>

<!-- Keynote Section -->
<section id="keynote">
    <h2>Keynote Speakers</h2>
    <!-- Example structure for a speaker. Repeat for each speaker. -->
    <div class="speaker">
        <h3>Speaker Name</h3>
        <p>Short description or title of the speaker.</p>
    </div>
</section>

<!-- Other sections like Schedule, Learning eXchanges, Exhibitors, Sponsors go here following a similar structure -->
