    <!-- Header Section -->
    <header>
      <nav>
          <img class="logo" src="../assets/img/witx-logo.png" alt="WITX Logo">
          <a href="#events">Events</a>
          <a href="#keynote">Keynote</a>
          <a href="/registration">Registration</a>
          <a href="#schedule">Schedule</a>
          <a href="#sponsors">Sponsors</a>
          <a href="#team">Team</a>
      </nav>
  </header>